clienteWCFPago/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54131/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfFactura1" />
  <xs:element name="obtenerDetalles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFactura" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDetallesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfFactura1" minOccurs="0" name="obtenerDetallesResult" nillable="true" type="q1:ArrayOftbl_Detalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerTodoDetalles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerTodoDetallesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfFactura1" minOccurs="0" name="obtenerTodoDetallesResult" nillable="true" type="q2:ArrayOftbl_Detalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerListaFacturas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerListaFacturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfFactura1" minOccurs="0" name="obtenerListaFacturasResult" nillable="true" type="q3:ArrayOftbl_Factura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerListaFacturasConFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerListaFacturasConFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfFactura1" minOccurs="0" name="obtenerListaFacturasConFechaResult" nillable="true" type="q4:ArrayOftbl_Factura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerListaFacturasConCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerListaFacturasConClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfFactura1" minOccurs="0" name="obtenerListaFacturasConClienteResult" nillable="true" type="q5:ArrayOftbl_Factura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfFactura1" minOccurs="0" name="obtenerFacturaResult" nillable="true" type="q6:tbl_Factura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFactura" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarFacturaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfFactura1" minOccurs="0" name="factura" nillable="true" type="q7:tbl_Factura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarFacturaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfFactura1" minOccurs="0" name="detalle" nillable="true" type="q8:tbl_Detalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarDetalleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarFacturas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subtotal" type="xs:decimal" />
        <xs:element minOccurs="0" name="total" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarFacturasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>